* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.section-1 .background {
    background: url('assets/image1.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.section-2 .background {
    background: url('assets/image2.jpg') center/cover no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 .background h1 {
    text-transform: uppercase;
    background: black;
    color: white;
    padding: 0.7rem 1rem;
    letter-spacing: 1.2rem;
}

.description {
    text-align: center;
    padding: 1rem 0 4rem 0;
}
.section-2 .background h1 {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: 1.5rem;
}

.section-2 .description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 2rem;
}

.section-3 .background {
    background: url('assets/image3.jpg') center/cover no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .background h1 {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2rem;
    letter-spacing: 1.5rem;
}

.section-3 .description {
    text-align: center;
    line-height: 1.4rem;
    padding: 4rem;
    background: black;
}

.section-3 p,
.section-3 h3 {
    margin: 0;
    color: white;
    padding: 0.7rem;
}

.section-4 .background {
    background: url('assets/image1.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4 h1 {
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-size: 2.6rem;
    padding: 0.7rem;
    letter-spacing: 1.3rem;
}
